body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}
.input-container{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}
input {
    padding: 5px;
    border: 2px solid grey;
    border: none;

}
button {
    padding: 8px 10px; 
    color: rgb(36, 29, 248);
    font: bold;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: beige;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
#delete-button{
    color: red;
}
button:hover {
    background-color: rgb(247, 247, 190);

}

.todo-container{
    background-color: azure;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 20px;
}