button{
    padding: 5px 20px;
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
}
.btn_1 {
    background-color: lightgreen;
    border: none;
}

.btn_2 {
    border:2px solid black;
}

.container {
    background-color: aqua;
    margin : 5px auto;
}